In [1]:
from ast import literal_eval
import numpy as np
import pandas as pd

In [2]:
def parse_numpy_data(item):
    item_eval = literal_eval(item)
    if item_eval is None:
        return np.array([])
    return np.array(item_eval)

column_parse_dict = {col:parse_numpy_data for col in ["X", "H", "DHDX", "D2HDX2", "CONVERGENCE"]}

In [3]:
res_df = pd.read_csv("../data/out/bnb_log_thread_0.csv", 
                     sep="\t", header=0, parse_dates=["TSTAMP"], 
                     converters=column_parse_dict)

In [4]:
res_df.head()

,TASKNUM,TSTAMP,EVENTID,EXTRACODE,X,H,DHDX,D2HDX2,CONVERGENCE
0,0,2023-12-07 14:11:32.937426919,0,0,"[[-2.0, 2.0], [-2.0, 2.0]]",[],[],[],[]
1,1,2023-12-07 14:11:32.937519879,2,0,"[[-2.0, 2.0], [-2.0, 2.0]]",[],[],[],[]
2,1,2023-12-07 14:11:32.937530356,4,0,[],[],[],[],"[0, 0]"
3,1,2023-12-07 14:11:32.937660682,5,0,"[[-2.0, 2.0], [-2.0, 2.0]]","[-1.0, 1.0]","[[-1.0, 1.0], [-3.14159265, 3.14159265]]",[],[]
4,1,2023-12-07 14:11:32.937800087,6,16,"[[-2.0, 2.0], [-2.0, 2.0]]","[-1.0, 1.0]","[[-1.0, 1.0], [-3.14159265, 3.14159265]]","[[[-1.0, 1.0], [-3.14159265, 3.14159265]], [[-...",[]

In [5]:
e = res_df[res_df.EVENTID==6].X
e.apply(lambda x: np.abs(x[0,1]-x[0,0]))

4       4.000000
9       2.000000
14      2.000000
19      2.000000
24      2.000000
          ...
3534    0.000122
3555    0.000122
3572    0.000122
3585    0.000122
3602    0.000122
Name: X, Length: 235, dtype: float64

In [6]:
np.array(literal_eval(tval)).shape

NameError: name 'tval' is not defined

In [ ]:
np.array(None)